.firmware-uploader-dialog {
  width: 600px;
}

.firmware-uploader-dialog > div {
  flex: 1;
}


.firmware-uploader-dialog .theia-select {
  border: none !important;
}
.firmware-uploader-dialog .arduino-select__control {
  height: 100%;
  background: var(--theia-menubar-selectionBackground) !important;
}

.firmware-uploader-dialog .row {
  margin-top: 16px;
  margin-bottom: 28px;
  display: flex;
  align-items: center;
}
.firmware-uploader-dialog .row > .fl1{
  flex: 1;
}
.firmware-uploader-dialog .row > button{
  width: 33%;
  margin-right: 3px;
}

.firmware-uploader-dialog .row #firmware-select {
  flex: unset;
}

.firmware-uploader-dialog  .success {
  color: #1DA086;
}

.firmware-uploader-dialog  .warn {
  color: #C11F09;
}

.firmware-uploader-dialog  .status-icon {
  margin-right: 10px;
}