.sketchbook-widget .theia-header {
    text-transform: none;
}

.sketchbook-widget .theia-Tree.theia-FileTree {
    height: 100%;
}

.sketchbook-widget-toolbar {
    height: 180px;
    background-color: red;
}

.sketchbook-widget-to-scroll {
    height: 2000px;
    background-color: gold;
}

.sketchbook-widget .sketchbook-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
}
