.sketchbook-tab-icon {
    -webkit-mask: url('./sketchbook.svg');
    mask: url('./sketchbook.svg');
}

.sketch-folder-icon {
    background: url('./sketch-folder-icon.svg') center center no-repeat;
    width: var(--theia-icon-size);
    height: var(--theia-icon-size);
}

.sketchbook-tree-icon {
    background: url('./sketchbook-tree-icon.svg') center center no-repeat;
    width: var(--theia-icon-size);
    height: var(--theia-icon-size);
}

.sketchbook-trees-container {
    height: 100%;
}
